extends _layouts/master

block content
    section
        .about
            .team
                .container.py-5.mt-5
                    .row.g-5.align-items-center
                        .col-xl-7.wow.fadeInLeft(data-wow-delay='0.2s' style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;')
                            div
                                h4.text-highline-3 About Us
                                h1.display-5.mb-4 Meet our company unless miss the opportunity
                                p.mb-4
                                    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum velit temporibus repudiandae ipsa, eaque perspiciatis cumque incidunt tenetur sequi reiciendis.
                                .row.g-4
                                    .col-md-6.col-lg-6.col-xl-6
                                        .d-flex
                                            div
                                                i.fas.fa-lightbulb.fa-3x.text-highline-3
                                            .ms-4
                                                h4 Business Consuluting
                                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    .col-md-6.col-lg-6.col-xl-6
                                        .d-flex
                                            div
                                                i.bi.bi-bookmark-heart-fill.fa-3x.text-highline-3
                                            .ms-4
                                                h4 Year Of Expertise
                                                p Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                    .col-sm-6
                                        a.btn.btn-primari.rounded-pill.py-3.px-5.flex-shrink-0.hvr-float(href='#') Discover Now
                                    .col-sm-6
                                        .d-flex
                                            i.fas.fa-phone-alt.fa-2x.text-highline-3.me-4
                                            div
                                                h4 Call Us
                                                p.mb-0.fs-5(style='letter-spacing: 1px;') +01234567890
                        .col-xl-5.wow.fadeInRight(data-wow-delay='0.2s' style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInRight;')
                            .bg-primary.rounded.position-relative.overflow-hidden
                                img.img-fluid.rounded.w-100(src='img/about-2.png' alt='')
                                .position-absolute
                                    img.img-fluid(src='img/about-3.png' style='width: 150px; height: 150px; opacity: 0.7;' alt='')
                                .position-absolute
                                    img.img-fluid(src='img/about-4.png' style='width: 100px; height: 150px; opacity: 0.9;' alt='')
                                .rounded-bottom
                                    img.img-fluid.rounded-bottom.w-100(src='img/about-5.jpg' alt='')
                    .wow.fadeInUp(data-wow-delay='0.3s' data-wow-duration='0.3s' style='visibility: visible; animation-duration: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;')
                        .justify-content-center.my-5.w-100
                            .text-center.justify-content-center.mb-2
                                .page-title
                                    h4.text-highline-3 Our Team
                                        h1.display-5.mb-4 Meet Our Advisers
                                        p.mb-0
                                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.

                    .row.g-4
                        .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.2s' style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;')
                            .feature-item.p-4
                                .feature-icon.p-4.mb-4
                                    i.fas.fa-chart-line.fa-4x.text-highline-3
                                h4 Global Management
                                p.mb-4
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic laborum odit pariatur...
                                a.btn.btn-primari.rounded-pill.py-2.px-4.hvr-float(href='#') Learn More
                        .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.4s' style='visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;')
                            .feature-item.p-4
                                .feature-icon.p-4.mb-4
                                    i.fas.fa-university.fa-4x.text-highline-3
                                h4 Corporate Banking
                                p.mb-4
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic laborum odit pariatur...
                                a.btn.btn-primari.rounded-pill.py-2.px-4.hvr-float(href='#') Learn More
                        .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.6s' style='visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;')
                            .feature-item.p-4
                                .feature-icon.p-4.mb-4
                                    i.fas.fa-file-alt.fa-4x.text-highline-3
                                h4 Asset Management
                                p.mb-4
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic laborum odit pariatur...
                                a.btn.btn-primari.rounded-pill.py-2.px-4.hvr-float(href='#') Learn More
                        .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.8s' style='visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;')
                            .feature-item.p-4
                                .feature-icon.p-4.mb-4
                                    i.fas.fa-hand-holding-usd.fa-4x.text-highline-3
                                h4 Investment Bank
                                p.mb-4
                                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea hic laborum odit pariatur...
                                a.btn.btn-primari.rounded-pill.py-2.px-4.hvr-float.hvr-float(href='#') Learn More


                    .wow.fadeInUp(data-wow-delay='0.3s' data-wow-duration='0.3s' style='visibility: visible; animation-duration: 0.3s; animation-delay: 0.3s; animation-name: fadeInUp;')
                        .justify-content-center.my-5.w-100
                            .text-center.justify-content-center.mb-2
                                .page-title
                                    .text-center.mx-auto.pb-5.wow.fadeInUp(data-wow-delay='0.2s' style='max-width: 800px; visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;')
                                        h4.text-highline-3 Our Team
                                        h1.display-5.mb-4 Meet Our Advisers
                                        p.mb-0
                                            | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur adipisci facilis cupiditate recusandae aperiam temporibus corporis itaque quis facere, numquam, ad culpa deserunt sint dolorem autem obcaecati, ipsam mollitia hic.
                    .row.g-4
                            .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.2s' style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;')
                                .team-item
                                    .team-img
                                        img.img-fluid(src='./client/images/team-1.jpg' alt='')
                                    .team-title
                                        h4.mb-0 David James
                                        p.mb-0 Profession
                                    .team-icon
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-facebook-f
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-twitter
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-linkedin-in
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-0(href='')
                                            i.fab.fa-instagram
                            .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.4s' style='visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;')
                                .team-item
                                    .team-img
                                        img.img-fluid(src='./client/images/team-1.jpg' alt='')
                                    .team-title
                                        h4.mb-0 David James
                                        p.mb-0 Profession
                                    .team-icon
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-facebook-f
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-twitter
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-linkedin-in
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-0(href='')
                                            i.fab.fa-instagram
                            .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.6s' style='visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;')
                                .team-item
                                    .team-img
                                        img.img-fluid(src='./client/images/team-1.jpg' alt='')
                                    .team-title
                                        h4.mb-0 David James
                                        p.mb-0 Profession
                                    .team-icon
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-facebook-f
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-twitter
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-linkedin-in
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-0(href='')
                                            i.fab.fa-instagram


                            .col-md-6.col-lg-6.col-xl-3.wow.fadeInUp(data-wow-delay='0.6s' style='visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;')
                                .team-item
                                    .team-img
                                        img.img-fluid(src='./client/images/team-1.jpg' alt='')
                                    .team-title
                                        h4.mb-0 David James
                                        p.mb-0 Profession
                                    .team-icon
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-facebook-f
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-twitter
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-3(href='')
                                            i.fab.fa-linkedin-in
                                        a.btn.btn-primari.btn-sm-square.rounded-circle.me-0(href='')
                                            i.fab.fa-instagram
