extends _layouts/master

block content

    section
        .labubu-box
            ul.nav.justify-content-between
                li.nav-item
                    a.nav-link.hvr-float(href='javascript:void(0)')
                        i.fa-brands.fa-telegram
                li.nav-item
                    a.nav-link.hvr-float(href='javascript:void(0)')
                        i.fa-brands.fa-youtube
                li.nav-item
                    a.nav-link.hvr-float(href='javascript:void(0)')
                        i.fa-brands.fa-x-twitter






































