//.menu-bottom.p-1.fixed-bottom
//    ul.nav.nav-pills.nav-justified.py-2
//        li.nav-item
//            a.nav-link.text-center(href='index.html')
//                img.img-menu.mb-1(src='client/images/menu/wallet.png')
//                .text-center Wallet
//        li.nav-item
//            a.nav-link(href='agency.html')
//                img.img-menu.mb-1(src='client/images/menu/social.png')
//                .text-center Social
//        li.nav-item
//            a.nav-link(href='bet.html')
//                img.img-menu.mb-1(src='client/images/menu/explore.png')
//                .text-center Explore
//        li.nav-item
//            a.nav-link(href='swap.html')
//                img.img-menu.mb-1(src='client/images/menu/swap.png')
//                .text-center Swap
//        li.nav-item
//            a.nav-link(href='profile.html')
//                img.img-menu.mb-1(src='client/images/menu/earn.png')
//                .text-center Earn

