footer
    .container.pt-5.wow.fadeIn(data-wow-delay='0.1s' style='visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;')
        .row.g-5
            .col-lg-3.col-md-6
                h1.fw-bold.text-primary.mb-4
                    | F
                    span.text-secondary oo
                    | dy
                p
                    | Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita
                .d-flex.pt-2
                    a.btn.btn-square.btn-outline-light.rounded-circle.me-1(href='')
                        i.fab.fa-twitter
                    a.btn.btn-square.btn-outline-light.rounded-circle.me-1(href='')
                        i.fab.fa-facebook-f
                    a.btn.btn-square.btn-outline-light.rounded-circle.me-1(href='')
                        i.fab.fa-youtube
                    a.btn.btn-square.btn-outline-light.rounded-circle.me-0(href='')
                        i.fab.fa-linkedin-in
            .col-lg-3.col-md-6
                h4.text-light.mb-4 Address
                ul.list-group
                    li.list-group-item.footer-item
                        p
                            i.fa.fa-map-marker-alt.me-3.fs-5
                            | Địa chỉ: 108 Trần Đình Xu, Phường Nguyễn Cư Trinh, Quận 1, Thành phố Hồ Chí Minh
                    li.list-group-item.footer-item
                        p
                            i.fa.fa-map-marker-alt.me-3

                            | Hotline: 0919181133
                    li.list-group-item.footer-item
                        a
                            i.fa.fa-phone-alt.me-3

                            | Email:info@sanphamsovn.com
                    li.list-group-item.footer-item
                        p
                            i.fa.fa-envelope.me-3

                            | Website: sanphamsovn.com

            .col-lg-3.col-md-6
                h4.text-light.mb-4 Quick Links
                a.btn.btn-link(href='') About Us
                a.btn.btn-link(href='') Contact Us
                a.btn.btn-link(href='') Our Services
                a.btn.btn-link(href='') Terms &amp; Condition
                a.btn.btn-link(href='') Support
            .col-lg-3.col-md-6
                h4.text-light.mb-4 Newsletter
                p Dolor amet sit justo amet elitr clita ipsum elitr est.
                .position-relative.mx-auto(style='max-width: 400px;')
                    input.form-control.bg-transparent.w-100.py-3.ps-4.pe-5(type='text' placeholder='Your email')
                    button.btn.btn-primary.py-2.position-absolute.top-0.end-0.mt-2.me-2(type='button') SignUp
    .container.copyright
        .container
            .row
                .text-center
                    p © 2024. CÔNG TY TNHH THƯƠNG MẠI DỊCH VỤ TƯ VẤN VÀ ĐÀO TẠO THỜI ĐẠI MỚI | Tên quốc tế	THOI DAI MOI TRADING SERVICE CONSULTING AND TRAINING COMPANY LIMITED


