header.d-flex.justify-content-between.p-3.align-items-center.mt-4
    a(href='index.html')
        img.me-2(src='client/images/back.png' style='height: 20px')
    #file-name.box-title.px-5.py-3.text-uppercase.fw-bold
    a(href='setting.html').invisible
        img.me-2(src='client/images/setting.png' style='height: 30px')